<!DOCTYPE html>
<html lang="en">
    <h1>會員登入</h1>

    <form>
        <label for="account">account: </label>
        <input type="text" id="account" name="account">
        <input type="button">

<p><input type="checkbox"></p>
<p><input type="color"></p>
<p><input type="date"></p>
<p><input type="datetime-local"></p>
<p><input type="email"></p>
<p><input type="file"></p>
<p><input type="hidden"></p>
<p><input type="image"></p>
<p><input type="month"></p>
<p><input type="number"></p>
<p><input type="password"></p>
<p><input type="radio"></p>
<p><input type="range"></p>
<p><input type="reset"></p>
<p><input type="search"></p>
<p><input type="submit"></p>
<p><input type="tel"></p>
<p><input type="text"> (default value)</p>
<p><input type="time"></p>
<p><input type="url"></p>
<p><input type="week"></p>
<h1>My awesome space</h1>
        <h2>This is my first website</h2>
        <a href = "https://google.com">This is Google website</a>
    </form>

</html>